/* Start Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}
.clear {
  clear: both;
}
.container {
  width: 90%;
  margin: auto;
  text-align: center;
}
/* End Global */

/* Start Secticon One */
.section-one .nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar img {
  width: 180px;
  margin: 15px;
  float: left;
}

.nav-bar ul {
  float: right;
  list-style: none;
}

.nav-bar ul li {
  float: left;
  padding: 30px 15px;
  cursor: pointer;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.section-one .content {
  background-image: url('../images/drew-coffman-1872.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.content .inner-content {
  padding: 150px 0;
}

.inner-content p {
  font-size: 30px;
  margin: 0 0 40px;
  color: #ccc;
}

.inner-content h1 {
  color: #fff;
  font-size: 80px;
  margin: 0 0 30px;
}

.inner-content button {
  color: #fff;
  margin: 0 10px 0 0;
  padding: 15px 20px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s;
}

.inner-content button:hover {
  color: #333;
  background-color: #fff !important;
}

.inner-content button.learn-more {
  background-color: #8e7754;
}

.inner-content button.contact {
  background-color: transparent;
  border: 1px solid #fff;
}

.section-one .icons {
  background-color: #f8f8f8;
  font-size: 24px;
  position: fixed;
  right: 0;
  top: 30%;
  border-radius: 6px 0 0 6px;
  /* z-index: 40; */
}

.section-one .icons i {
  padding: 5px;
  margin: 4px;
  cursor: pointer;
  transition: color 0.5s;
}

.section-one .icons i:hover {
  color: #2196f3;
}
/* End Secticon One */

/* Start Who We Are Section */
.who-we-are-section {
  padding: 40px 0;
}

.who-we-are-section img {
  width: 45%;
  float: left;
}

.who-we-are-section .info {
  width: 50%;
  float: right;
  margin: 40px 0;
}

.who-we-are-section .info h2 {
  font-size: 24px;
  margin: 0 0 30px;
}

.who-we-are-section .info .my-p {
  font-size: 16px;
  color: #686868;
  margin: 0px 0px 20px;
  line-height: 30px;
}

.who-we-are-section .info ul {
  list-style: none;
}

.who-we-are-section .info ul li p{
  display: inline-block;
  color: #686868;
  margin: 0 0 20px;
}

.who-we-are-section .info ul {
text-align: left;
}

.who-we-are-section .info ul li i {
  border: 1px solid #929292;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
  color: #8e7754;
}
/* End Who We Are Section */

/* Start Our Location Section */
.our-location-section {
  background-color: #f8f8f8;
  padding: 40px 0;
}

.our-location-section img {
  width: 45%;
  float: right;
}

.our-location-section .info {
  width: 50%;
  float: left;
} 

.our-location-section .info h2 {
  font-size: 24px;
  margin: 0 0 30px;
} 
.our-location-section .info p {
  font-size: 16px;
  color: #686868;
  margin: 0px 0px 20px;
  line-height: 30px;
} 
/* End Our Location Section */

/* Start Our Baking Section */
.our-baking-section {
  padding: 40px 0;
}

.our-baking-section h2 {
  color: #303030;
  font-size: 24px;
  margin: 0 0 30px;
}

.our-baking-section p {
  color: #686868;
  margin: 0 0 20px;
}

.our-baking-section .items .item {
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.our-baking-section .items .item img {
  width: 100%;
}

.our-baking-section .items .item h4 {
  margin: 10px 0;
}

.our-baking-section .items .item p {
  color: #686868;
  line-height: 32px;
  margin-bottom: 20px;
}
/* End Our Baking Section */

/* Start Cotact Info Section */
/* Part One */
.contact-info-section {
  padding: 40px 0;
  background-color: #f8f8f8;
}

.contact-info-section .info {
  float: left;
  width: 50%;
}

.contact-info-section .info h2 {
  margin: 0 0 30px;
}

.contact-info-section .info p {
  color: #686868;
  line-height: 27px;
  margin: 0 0 20px;
}

.contact-info-section .info p.my-p {
  text-align: left;
}

.contact-info-section .info ul {
  list-style: none;
  text-align: left;
}

.contact-info-section .info ul li span i {
  background-color: #8e7754;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.contact-info-section .info ul li p {
  display: inline-block;
  color: #686868;
  margin-bottom: 20px;
}

.contact-info-section .map {
  float: right;
  width: 38%;
  overflow: hidden;
}
/* Part Two */
.all-info {
  padding: 30px 0;
  background-color: #403d38;
}

.all-info .box {
  width: 25%;
  float: left;
  text-align: left;
  padding: 7px;
} 

.all-info .box h4 {
  color: #fff;
  font-size: 20px;
  margin: 10px 0 20px;
}

.about-us p {
  color: #969696;
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 30px;
}

.we-are-special ul {
  list-style: none;
}

.we-are-special ul li {
  color: #969696;
  font-size: 23px;
  margin: 0 0 10px;
  padding: 0 0 10px;
}

hr {
  background-color: #333;
  border: none;
  width: 90%;
  height: 2px;
}


.we-are-special ul li i {
  padding: 5px;
}

.opening-hours ul {
  list-style: none;
}

.opening-hours ul li {
  color: #969696;
  font-size: 23px;
  margin: 0 0 10px;
  padding: 0 0 10px;
}

.opening-hours ul li i {
  padding: 5px;
}

.contact-details ul{
  list-style: none;
}

.contact-details ul li {
  color: #969696;
  font-size: 23px;
  margin: 0 0 10px;
  padding: 0 0 10px;
  cursor: pointer;
  transition: color 1s;
}

.contact-details ul li:hover {
  color: #f8f8f8;
}

.contact-details ul li i {
  padding: 5px;
}
/* End Cotact Info Section */

/* Start Footer */
.footer {
  background-color: #353330;
  text-align: center;
}

.footer img {
  width: 20%;
  padding: 50px 0 20px;
}

.footer span {
  color: #969696;
  font-size: 14px;
  text-align: center;
  display: block;
}

.footer ul {
  list-style: none;
  padding: 20px 0 50px;
}

.footer ul li {
  display: inline-block;
  background-color: #484540;
  margin: 0 5px 0 0;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.footer ul li:hover a {
  color: #fff;
}

.footer ul li:first-child:hover {
  background-color: #3B5998;
}
.footer ul li:nth-child(2):hover {
  background-color: #DD4B32;
}
.footer ul li:nth-child(3):hover {
  background-color: #007bb5;
}
.footer ul li:last-child:hover {
  background-color: #00aced;
}

.footer ul li a {
  text-decoration: none;
  color: #8c8a86;
}
/* End Footer */